src/META-INF/wsdl/localhost_8080/WSZero/WSBD.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pkgWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pkgWS/" name="WSBD">
<types>
<xsd:schema>
<xsd:import namespace="http://pkgWS/" schemaLocation="http://localhost:8080/WSZero/WSBD?xsd=1"/>
</xsd:schema>
</types>
<message name="verEmpleado">
<part name="parameters" element="tns:verEmpleado"/>
</message>
<message name="verEmpleadoResponse">
<part name="parameters" element="tns:verEmpleadoResponse"/>
</message>
<message name="altas">
<part name="parameters" element="tns:altas"/>
</message>
<message name="altasResponse">
<part name="parameters" element="tns:altasResponse"/>
</message>
<message name="borrar">
<part name="parameters" element="tns:borrar"/>
</message>
<message name="borrarResponse">
<part name="parameters" element="tns:borrarResponse"/>
</message>
<message name="modificar">
<part name="parameters" element="tns:modificar"/>
</message>
<message name="modificarResponse">
<part name="parameters" element="tns:modificarResponse"/>
</message>
<portType name="WSBD">
<operation name="verEmpleado">
<input wsam:Action="http://pkgWS/WSBD/verEmpleadoRequest" message="tns:verEmpleado"/>
<output wsam:Action="http://pkgWS/WSBD/verEmpleadoResponse" message="tns:verEmpleadoResponse"/>
</operation>
<operation name="altas">
<input wsam:Action="http://pkgWS/WSBD/altasRequest" message="tns:altas"/>
<output wsam:Action="http://pkgWS/WSBD/altasResponse" message="tns:altasResponse"/>
</operation>
<operation name="borrar">
<input wsam:Action="http://pkgWS/WSBD/borrarRequest" message="tns:borrar"/>
<output wsam:Action="http://pkgWS/WSBD/borrarResponse" message="tns:borrarResponse"/>
</operation>
<operation name="modificar">
<input wsam:Action="http://pkgWS/WSBD/modificarRequest" message="tns:modificar"/>
<output wsam:Action="http://pkgWS/WSBD/modificarResponse" message="tns:modificarResponse"/>
</operation>
</portType>
<binding name="WSBDPortBinding" type="tns:WSBD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="verEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="altas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="borrar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSBD">
<port name="WSBDPort" binding="tns:WSBDPortBinding">
<soap:address location="http://localhost:8080/WSZero/WSBD"/>
</port>
</service>
</definitions>