xml-resources/web-service-references/WSBD/wsdl/localhost_8080/WSZero/WSBD.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><xs:schema xmlns:tns="http://pkgWS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pkgWS/">

<xs:element name="altas" type="tns:altas"/>

<xs:element name="altasResponse" type="tns:altasResponse"/>

<xs:element name="modificar" type="tns:modificar"/>

<xs:element name="modificarResponse" type="tns:modificarResponse"/>

<xs:element name="verEmpleado" type="tns:verEmpleado"/>

<xs:element name="verEmpleadoResponse" type="tns:verEmpleadoResponse"/>

<xs:complexType name="altas">
<xs:sequence>
<xs:element name="Tabla" type="xs:string" minOccurs="0"/>
<xs:element name="Datos" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verEmpleado">
<xs:sequence>
<xs:element name="tabla" type="xs:string" minOccurs="0"/>
<xs:element name="datos" type="xs:string" minOccurs="0"/>
<xs:element name="condicion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verEmpleadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificar">
<xs:sequence>
<xs:element name="Tabla" type="xs:string" minOccurs="0"/>
<xs:element name="Datos" type="xs:string" minOccurs="0"/>
<xs:element name="condicion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>